* {
margin: 0;
padding: 0;
}

.wrapper {
    margin: auto;
    width: 1000ppx;
}


.img-acc-vert{
    width: 600px;
}

.img-acc-canal{
    width: 600px;
}
.img-mod-vert{
    width: 600px;
}
.img-reportes{
    width: 600px;
}
.img-hist{
    width: 600px;
}
.img-dash{
    width: 600px;
}
.img-cliente-modulo{
    width: 600px;
}
